*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    background-color: rgb(23, 67, 80);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* ?------------------------- HEADER ------------------------- */

header{
    background-color: rgb(144, 213, 236);
}

.titulo{
    font-size: 50px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    padding: 20px;
}

header p{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-align: center
}

/* ?------------------------- CALCULADORA ------------------------- */

.formulario{
    display: block;
    margin: 150px auto;
    width: 40%;
}

#container-calc-ln{
    text-align: center;
    display: block;
    background-color: lightblue;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

#container-calc-ln:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 50px 10px rgb(49, 48, 48);
}

.ln2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    gap: 15px;
    padding: 10px;
}

.ln2 input{
    height: 20px;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
}

.ln2 button{
    height: 45px;
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

#container-calc-base{
    text-align: center;
    display: block;
    background-color: lightblue;
    margin: 40px auto;
    padding: 20px;
    border-radius: 10px;
}

#container-calc-base:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 50px 10px rgb(49, 48, 48);
}

#input-calc-base{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    gap: 10px;
    padding: 10px;
}

#input-calc-base input{
    height: 20px;
    width: 150px;
    border-radius: 10px;
    padding: 10px;
}

#container-calc-base button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
}

#resposta{
    margin: auto;
    display: flex;
    justify-content: center;
}

table, th, td{
    border: 1px solid black;
    padding: 5px;
}

.container-resp{
    display: flex;
    gap: 20px;
    justify-content: center;
}

#desc-tabela{
    margin: 15px;
}

/* ?------------------------- FOOTER ------------------------- */

footer{
    margin-top: auto;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

footer p {
    font-size: 25px;
}

#title-nomes{
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    padding: 20px; 
    padding-bottom: 10px;  
}

#nomes{
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    text-align: center;
    padding: 20px;
    padding-top: 10px;
}

/* ?------------------------- MEDIA QUERY ------------------------- */

@media (max-width: 1000px){
    .formulario{
        display: block;
        margin: 150px auto;
        width: 80%;
    }
}